@model CTS.Idea

@{
    ViewBag.Title = Model.Title + " - details";
}

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>

    <hr />
    <div>
        <div><center>
    <button name="buttonUp" value="up" onclick="location.href='@Url.Action("UpVote", "Ideas", new { id = Model.Id })'">Up vote</button>
    <button name="buttonDown" value="down" onclick="location.href='@Url.Action("DownVote", "Ideas", new { id = Model.Id })'">Down vote</button>
</center></div>
        <div>
            <img class="idea-img" src='@Url.Content("http://www.famativity.com/wp-content/uploads/2013/10/light-bulb-1.jpg")' style="float:right" />
            <table>
                <tr>
                    <td>
                        <a href='@Url.Action("UpVote", "Ideas", new {id = Model.Id})'>
                            <img src='@Url.Content("~/Images/up_arrow.png")' alt="Up vote"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href='@Url.Action("DownVote", "Ideas", new {id = Model.Id})'>
                            <img src='@Url.Content("~/Images/down_arrow.png")' alt="Down vote"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Description)
                        </b>
                    </p>
                </dt>

                <dd>
                    <p>
                        @Html.DisplayFor(model => model.Description)
                    </p>
                </dd>

                <dt>
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Score)
                        </b>
                    </p>
                </dt>

                <dd>
                    <p>
                        @Html.DisplayFor(model => model.Score)
                    </p>
                </dd>
            </dl>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
