@using ProjektGrupowy.Models
@model ProjektGrupowy.Models.IdeaDetailsViewModel

@{
    ViewBag.Title = Model.Idea.Title + " - details";
}

<div>
    <h2>@Html.DisplayFor(model => model.Idea.Title)</h2>

    <hr/>
    <div>
        <div>
            @if (Model.Idea.Picture == null)
            {
                <img class="idea-img" src='@Url.Content("http://iconizer.net/files/Impressions_General_Icons/orig/bulb.png")' style="float: right" />
            }
            else
            {
                <img class="idea-img" src='@Url.Content(Model.Idea.Picture)' style="float: right" />
            }
            <table>
                <tr>
                    <td>
                        <a href='@Url.Action("UpVote", "Ideas", new {id = Model.Idea.Id})'>
                            <img src='@Url.Content("~/Images/up_arrow.png")' alt="Up vote"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href='@Url.Action("DownVote", "Ideas", new {id = Model.Idea.Id})'>
                            <img src='@Url.Content("~/Images/down_arrow.png")' alt="Down vote"/>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Idea.Description)
                        </b>
                    </p>
                </dt>

                <dd>
                    <p>
                        @Html.DisplayFor(model => model.Idea.Description)
                    </p>
                </dd>

                <dt>
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Idea.Score)
                        </b>
                    </p>
                </dt>

                <dd>
                    <b>
                        @Html.DisplayFor(model => model.Idea.Score)
                    </b>
                </dd>
                <dt>
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Idea.AspNetUser.Email)
                        </b>
                    </p>
                </dt>
                <dd>
                    <b>
                        @Html.DisplayFor(model => model.Idea.AspNetUser.Email)
                    </b>
                </dd>
                <dt>
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.Idea.Tags)
                        </b>
                    </p>
                </dt>
                <dd>
                    @foreach (var tag in Model.Idea.Tags)
                    {
                        <b>
                            @Html.ActionLink(tag.Name, "Details", "Tags", new { id = tag.Id}, null)
                        </b>
                    }
                </dd>
            </dl>
        </div>

    </div>
</div>
@if (!User.Identity.IsAuthenticated)
{
    <span style="color: #ce0000; font-size: 18px;">
        @Html.ActionLink("Log in to reply", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </span>
}
<br />
<div style="margin-left: 5px">
    @using (Html.BeginForm("PostComment", "Ideas"))
    {
        <input id="id" name="id" type="hidden" value="@Model.Idea.Id">
    if (User.Identity.IsAuthenticated) { 
        <input id="commentString" name="commentString" type="text" value="@Model.CommentString">
    }
        <input id="parentId" name="parentId" type="hidden" value="">
        if (User.Identity.IsAuthenticated) { 
            <input type="submit" value="Post Comment" />
        }
    }
    @foreach (var comment in Model.Comments.Where(x => x.Parent == null))
    {
        @Html.Partial("~/Views/Comments/Comment.cshtml", new CommentViewModel(comment, Model.Comments, Model.Idea.Id));
    }
</div>
<br />
@if (!User.Identity.IsAuthenticated)
{
    <span style="color: #ce0000; font-size: 18px;">
        @Html.ActionLink("Log in to reply", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </span>
}
<p>
    @if (User.Identity.IsAuthenticated && Model.Idea.AspNetUser != null && User.Identity.Name == Model.Idea.AspNetUser.UserName)
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Idea.Id})
    }
    | @Html.ActionLink("Back to List", "Index")
</p>