@model CTS.Idea

@{
    ViewBag.Title = Model.Title + " - details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>

    <hr />
    <div>
        <div>
            <button name="buttonUp" value="up" onclick="location.href='@Url.Action("UpVote", "Ideas", new { id = Model.Id })'">Up vote</button>
            <button name="buttonDown" value="down" onclick="location.href='@Url.Action("DownVote", "Ideas", new { id = Model.Id })'">Down vote</button>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Score)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Score)
                </dd>
            </dl>
        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
