@using CTS
@using DAL
@using ProjektGrupowy.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10", style="font-size: 20px">
                @Html.ActionLink("Edit CV", "CurrentUserDetails", "User")
            </div>
        </div>
        <br />
        <br />
        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl})
        </section>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
